@model LibraryManagement.Models.Catalog.AssetDetailModel

@{
    ViewData["Title"] = "View Library Item";
}

<div class="container content">
    <div class="page-header clearfix detailHeading">
        <h3 class="text-muted">@ViewData["Title"]</h3>
    </div>
    <hr />
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="~/Images/assets/@Model.ImageUrl" alt="@Model.Title" class="detailImage" />

                </div>
            </div>
            <div class="col-md-4">
                <p id="itemTitle">Title: @Model.Title</p>
                <p id="itemAuthor">Author: @Model.AuthorOrDirector</p>
                <p id="itemStatus">Status: @Model.Status</p>
                <p id="itemType">Type: @Model.Type</p>
                <p id="itemLocation">Location: @Model.CurrentLocation</p>

                @{
                    if (Model.Status == "Checked Out")
                    {
                        <p id="itemPatron">Checked Out By: @Model.PatronName</p>
                        <p>
                            <a class="btn btn-sm btn-success" role="button" asp-controller="Catalog" asp-action="CheckIn" asp-route-id="@Model.AssetId">Check In</a>
                            <a class="btn btn-sm btn-warning" role="button" asp-controller="Catalog" asp-action="Hold" asp-route-id="@Model.AssetId">Place Hold</a>
                        </p>
                        <p>
                            <a class="btn btn-sm btn-secondary" asp-controller="Catalog" asp-action="Index">Back to Catalog</a>
                        </p>
                    }
                    if (Model.Status == "Available")
                    {
                        <p>
                            <a class="btn btn-sm btn-info" asp-controller="Catalog" asp-action="Checkout" asp-route-id="@Model.AssetId">Check Out</a>
                        </p>
                        <p>
                            <a class="btn btn-sm btn-secondary" asp-controller="Catalog" asp-action="Index">Back to Catalog</a>
                        </p>
                    }
                    if (Model.Status == "Lost")
                    {
                        <p>This item has been lost. It cannot be checked out.</p>
                        <p>
                            <a class="btn btn-sm btn-danger" role="button" asp-controller="Catalog" asp-action="MarkFound" asp-route-id="@Model.AssetId">Mark Item Found</a>
                        </p>
                        <p>
                            <a class="btn btn-sm btn-secondary" asp-controller="Catalog" asp-action="Index">Back to Catalog</a>
                        </p>
                    }
                }
            </div>
            <div class="col-md-4 detailInfo">
                <table class="table">
                    <tr>
                        <td class="itemLabel">ISBN:</td>
                        <td class="itemValue">@Model.ISBN</td>
                    </tr>
                    <tr>
                        <td class="itemLabel">Replacement Cost:</td>
                        <td class="itemValue">@Model.Cost</td>
                    </tr>
                    <tr>
                        <td class="itemLabel">Call Number:</td>
                        <td class="itemValue">@Model.DeweyCallNumber</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h4>Checkout History</h4>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Date Loaned</th>
                        <th>Date Returned</th>
                        <th>Card Id</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var checkout in @Model.CheckoutHistory)
                    {
                        <tr>
                            <td>
                                @checkout.CheckedOut
                            </td>
                            <td>
                                @checkout.CheckedIn
                            </td>
                            <td>
                                @checkout.LibraryCard.Id
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h4>Current Holds</h4>
            <table class="table table-bordered table-hover ">
                <thead>
                    <tr>
                        <th>Hold Placed</th>
                        <th>Patron</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hold in @Model.CurrentHolds)
                    {
                        <tr>
                            <td>
                                @hold.HoldPlaced
                            </td>
                            <td>
                                @hold.PatronName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


