@model LibraryManagement.Models.Catalog.AssetIndexModel
@{
    ViewData["Title"] = "Library Catalog Index";
}
<div class="container content">
    <h3>Library Catalog</h3>
    <div id="assetsTable">
        <table class="table" id="catalogIndexTable">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Author / Directot</th>
                    <th>Dewey Call Number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asset in Model.Assets)
                {
                    <tr>
                        <td class="">
                            <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@asset.Id">
                                <img src="~/Images/assets/@asset.ImageUrl" class="imageCell" />
                            </a>
                        </td>
                        <td class="">@asset.Title</td>
                        <td class="">@asset.AuthorOrDirector</td>
                        <td class="">@asset.DeweyCallNumber</td>
                        <td class="d-flex justify-content-end">
                            <a asp-action="Detail" asp-controller="Catalog" asp-route-id="@asset.Id" class="text-info px-2">
                                <i class="fas fa-search" data-toggle="tooltip" data-placement="top" title="Detail"></i>
                            </a>
                            <a asp-action="Edit" asp-controller="Catalog" asp-route-id="@asset.Id" class="text-success px-2">
                                <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                            </a>
                            <a asp-action="Delete" asp-controller="Catalog" asp-route-id="@asset.Id" class="text-danger px-2">
                                <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Remove"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
