@model LibraryManagement.Models.Patron.PatronIndexModel

@{
    ViewBag.Title = "Patron Index";
}

<div class="container content ">
    <h3>Patron Index</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Profile Link</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Library Card Id</th>
                <th>Overdue Fees</th>
                <th>Home Library</th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patron in Model.Patrons)
            {
                <tr>
                    <td>
                        <a asp-controller="Patron" asp-action="Detail" asp-route-id="@patron.Id" class="text-secondary">
                            <i class="far fa-user"></i>
                        </a>
                    </td>
                    <td>
                        @patron.FirstName
                    </td>
                    <td>
                        @patron.LastName
                    </td>
                    <td>
                        @patron.LibraryCardId
                    </td>
                    <td>
                        @patron.OverdueFees
                    <td>
                        @patron.HomeLibraryBranch
                    </td>
                    <td class="d-flex justify-content-end">
                        <a asp-action="Detail" asp-controller="Patron" asp-route-id="@patron.Id" class="text-info px-2">
                            <i class="fa fa-search" data-toggle="tooltip" data-placement="top" title="Detail"></i>
                        </a>
                        <a asp-action="Edit" asp-controller="Patron" asp-route-id="@patron.Id" class="text-success px-2">
                            <i class="fa fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                        </a>
                        <a asp-action="Delete" asp-controller="Patron" asp-route-id="@patron.Id" class="text-danger px-2">
                            <i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Remove"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>